@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.column {
    width: 100%;
  }
  
  @media (min-width: 600px) {
    .column {
      width: 50%;
    }
  } 
  body
  {
    background-color: #AB886D;
    align-items: center;
    background-image: url(mimg.png);
    background-repeat: no-repeat;
    height: 1000px;

  }

.header {
    display: flex;
    justify-content: center;
    align-items: center;


}

.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(#493628, transparent);
    z-index: 100;
}



.logo{
    margin-left: 1168px;
}

.logo a{
    text-decoration: none;
}
.logo p{
    color: #E4E0E1;
    font-size: 30px;
    font-weight: bold;
    cursor: default;
}

.logo p:hover {
    cursor: pointer;
}

.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(#493628, transparent);
    z-index: 100;
}

.back img {
  height: 45px;
  transform: translateX(-1330px);
  margin-top: 20px;
}

.bg img{
    position: relative;
    width: 100%;
    height: 840px;
}

.heading{
    
    color:#E4E0E1;
    align-items: center;
    margin-left: 640px;
    transform: translateY(-705px);
    font-size: 23px;
    
    
}

.website{
    width: 432px;
    height: 308px;
    background-color: #AB886D;
    margin-left: 570px;
    transform: translateY(-600px);
    padding: 16px;
    text-align: center;
    transition: ease-in-out;
    transition-delay: 1ms;
    border-radius: 20px;

}


.website p {
    transform: translateY(-6px);
    color: #E4E0E1;
    font-size: 30px;
    font-weight: 500;
 
}

.website img {
    width: 400px;
    height: 246px;
    border-radius: 20px;
}

.website:hover {
    background-color: #493628;
  
}

.f {
    width: 100%;
    height: 150px;
    background-color: #493628;
    color: #E4E0E1;
    transform: translateY(-373px);
}

.f p{

    color: #E4E0E1;
    font-size: 50px;
    font-weight: bold;
    cursor: default;
    padding-top: 28px;
    margin-left: 242px;
}


.f h6{
    font-weight: 100;
    font-size: 12px;
    margin-left: 1000px;
}

.socials
{   
    color: #E4E0E1;
    justify-content: space-around;
    width: 105px;
    transform: translateY(-51px);
    margin-left: 1000px;
}